@use "src/colors" as c;


header button{
  height: 20px;
  font-size: 12px;
}
:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0px;
}


header, footer{
  background-color:lighten(c.$color1, 50%);
}


main{//is a "screen" minus header and footer
  flex-grow: 1;
  background-color: lighten(c.$color1, 70%);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 350px;
}

main.ConfigScreen>div.itemlist{
  overflow-x: hidden;
  overflow-y: auto;
}

main.ConfigScreen>div.top {
  border: tan 1px solid;
  padding:2px;
  margin-bottom: 3px;
}

main.ConfigScreen>div>div {
  border: tan 1px solid;
  padding:2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

main.ConfigScreen h3 {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}



main.ConfigScreen label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  
  margin-top: 3px;
  margin-bottom: 3px;
}

main.ConfigScreen label>span {
  text-align: right;
  min-width: 140px;
  max-width: 140px;
  font-size: 1.1em;
  margin-right: 5px;
}

main.ConfigScreen label>input,label>select {
  flex: 1 1 0;
  font-size: 1.1em;
}



main.ControlScreen input{
  font-size: 24pt;
}

